.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #CCC;
    height: 80px;
}

.optionBtns {
    display: flex;
    justify-content: space-evenly;
    button {
        border-radius: 20px;
    }
}